Dockerfile*
LICENSE
docker-compose*.yaml
.dockerignore
.gitignore
.git
.husky
.DS_Store
*.tmp
*.md
*.log
*.coverage
.env

coverage
node_modules
dist
build
scripts
ollama
nginx
n8n 
certbot
assets