node_modules
dist
build
coverage/

.DS_Store
.env
.env.json
.env.ci
.idea
.nvmrc
.vscode
*.local
*.iml
*.code-workspace
storybook-static
reports
nohup.out
out
local
Makefile

token.txt
SECRET.md
issues.md