auto-install-peers=true
use-lockfile-v6=true
inject-workspace-packages=true  # needed for docker compose
package-import-method=copy
# use-inject-workspace = dependencies
# use-inject-workspace=dependencies,devDependencies

link-workspace-packages=true
prefer-workspace-packages=true
recursive-install=true